<header class="page-header">
  <span>Ми раді вітати вас на нашій сторінці</span>
</header>
<section class="home-page-container">
  <section class="home-page-item">
    <h3>Більше про PLLUG</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
    </p>
  </section>
  <section class="home-page-item">
    <h3>PLLUG програма</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
    </p>
  </section>
  <section class="home-page-item">
    <h3>Бути в курсі</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
    </p>
  </section>
  <section class="home-page-item">
    <h3>PLLUG проекти</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo
    </p>
  </section>
</section>
<section class="page-container">
  <h3>Наші партнери</h3>
  <section class="partners-container">
    <section class="partner-item">

    </section>
  </section>
</section>
